<h1>URL shortener</h1>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" style="width: 10%;">
<form action="/" method="POST">
  <input type="url" name="originalURL" id="originalURL" placeholder="Input URL here">
  <button type="submit">Shorten</button>
</form>
