<div class="container">
  <div class="card-border mx-auto text-center">
    <h2 class="mt-5">URL shortener</h2>
    <img class="mt-4" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png">
    <form class="mb-3 mt-4" action="/" method="POST">
      <input style="vertical-align: middle" type="url" name="originalURL" id="originalURL" placeholder="Input URL here">
      <button type="submit" id="shortenBtn" class="btn btn-outline-primary btn-block" style="display: block;">Shorten</button>
    </form>
  </div>
</div>
 


